@import "../css/default.css";
@import "../css/style-head.css";
@import "../css/style-category.css";
@import "../css/style-main.css";

.body {
    display: grid;
    grid-template-columns: 240px 1fr;
}
img.size-adj {
    width: 600px;
}