.body .category-wrap aside .category__title {
    padding: 50px;
}
.body .category-wrap aside .category__title h2 {
    font-size: 18px;
    text-align: center;
}
.body .category-wrap aside .category__list {
    padding: 20px;
}
.body .category-wrap aside .category__list ol li {
    margin-bottom: 25px;
}